body {
    font-family: 'Harmony Sans SC M' !important;
}

div.normalView {
    height: 92vh;
    display: block;
}

b {
    font-family: 'Harmony Sans SC Black';
}

mdui-top-app-bar-title {
    font-family: 'Harmony Sans SC Bold';
}

/* mdui-divider{
    margin-top: 1em;
    margin-bottom: 1em;
} */